<div class="fields">
  <p>
  <%= f.label :x, "x" %><br />
  <%= f.text_field :x %><br />
  <%= f.label :y, "y" %><br />
  <%= f.text_field :y %><br />
  <%= link_to_remove_fields "remove", f %>
  </p>
</div>
