<div id="map" class="big"></div>

<div class="content">
  <% if ((current_user && current_user.admin) || @trip.user==current_user) %>
  <%= link_to "delete", @trip,	:method => :delete,
  															:confirm => "You sure?",
  															:title => "Delete #{@trip.name}" %>
  <% end %>
  <% if @trip.user==current_user && !@trip.public %>
	<%= link_to "edit", edit_trip_path(@trip) %>
  <% end %>
  <% if (@trip.user==current_user) %>
    <p>This is your <%= @trip.public ? "public" : "private" %> trip.</p>
  <% elsif @trip.user==nil  %>
    <p>This is public trip.</p>
  <% else %>
    <p>This is <%= link_to "#{@trip.user.first_name} #{@trip.user.last_name}", @trip.user %>'s <%= @trip.public ? "public" : "private" %> trip.</p>
  <% end %>

<p id="description"><%= @trip.description %></p>

<h3><%= link_to "Guide", :controller => "trips", :action => "guide", :id => @trip %></h3>

<param id="places"/>

<% if !@places.empty? %>
<h3>Places in trip</h3>
<% if @trip.user==current_user && !@trip.public %>
<em>(drag places to change order)</em>
<% end %>
  <%= form_for(@trip) do |f| %>
  <ul <% if @trip.user==current_user && !@trip.public %> id="sortable" <% end %> class="list">
    <% @places.each do |place| %>
      <li>
        <%= link_to place.name, place_path(place.point_id) %>
        <%= hidden_field_tag "ordered_places[#{place.id}]"%>
        <param class="place" value="<%= place.lat %>|<%= place.lng %>|<%= place.name %>|<%= place.description %>" />
      </li>
    <% end %>
  </ul>
  <% if @trip.user==current_user && !@trip.public %>
    <div class="actions clear">
      <%= f.submit "Save order" %>
    </div>
    <% end %>
  <% end %>
<% end %>

<% if !@votes.empty? && @vote %>
  <h3>Trip's votes(<%= @vote ? 1 + @votes.count : @votes.count %>)<br/>
   - Average rating: <%= @trip.rating %></h3>
<% end %>

<% if current_user && current_user!=@trip.user && !current_user.admin %>
  <h4>Your vote</h4>

  <%= form_for :vote, @vote, :url => votes_path, :html => { :method => "post" }  do |f| %>
      <%= render 'votes/fields', :f => f %>
      <%= hidden_field_tag :trip_id, @trip.id  %>
  <div class="actions">
    <%= f.submit "Save" %>
  <div>
  <% end %>
  <% if @vote %>
  <%= link_to "delete comment", @vote,	:method => :delete %>
  <% end %>

<% end %>

<ul class="list">
  <%= render @votes %>
</ul>

</div>

<div class="clear"></div>
