<div>
	<h2>Show Trip</h2>
	<table>
		<tr>
			<th>Id</th>
			<td><%= @trip.id %></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%= @trip.name %></td>
		</tr>
		<tr>
			<th>Description</th>
			<td><%= @trip.description %></td>
		</tr>
		<tr>
			<th>Owner</th>
			<td><% if ! @trip.user.nil? %>
				<%= @trip.user.email %>
			<% end %></td>
		</tr>
		<tr>
			<th>Created at</th>
			<td><%= @trip.created_at %></td>
		</tr>
		<tr>
			<th>Updated at</th>
			<td><%= @trip.updated_at %></td>
		</tr>
		<tr>
			<th>Participants</th>
			<td>
				<ul><% @trip.participants.each do |u| %>
					<li><%= u.email %>
				<% end %></ul>
			</td>
		</tr>      
	</table>
	<ul>
		<li><%= link_to "Edit", {:action => 'edit', :id => @trip.id} %>
		<li><%= link_to "Delete", {:action => 'delete', :id => @trip.id} %>
		<li> Add point
		<li> List points
	</ul>
</div>
