<div class="field">
  <%= f.label :first_name %>
</div>
<div class="field">
  <%= f.text_field :first_name %>
</div>
<div class="field">
  <%= f.label :last_name %></div>
<div class="field">
  <%= f.text_field :last_name %>
</div>
<div class="field">
  <%= f.label :email %></div>
<div class="field">
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %></div>
<div class="field">
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %></div>
<div class="field">
  <%= f.password_field :password_confirmation %>
</div>


