<div class="field">
  <%= f.label :name %>
</div>
<div class="field">
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :description %>
</div>
<div class="field">
  <%= f.text_area :description %>
</div>

<%= f.fields_for @point do |point_form| %>
<div class="field">
  <%= point_form.label :longitude %>
</div>
<div class="field">
  <%= point_form.text_field :x %>
</div>
<div class="field">
  <%= point_form.label :latitude %>
</div>
<div class="field">
  <%= point_form.text_field :y %>
</div>
<% end %>

<div class="field">
  <%= f.label "Approximate visit time" %>
</div>
<div class="field">
  <%= f.text_field :minutes %> minutes
</div>

<%= f.fields_for @medium do |medium_form| %>
<div class="field">
  <%= medium_form.file_field :data %>
</div>
<% end %>
