<%= form_for(@place) do |f| %>

<div class="small" id="map"></div>
<!-- Map params -->
<param id="longitude" value="<%= @place.point.lng %>"/>
<param id="latitude" value="<%= @place.point.lat %>"/>
<param id="zoom" value="14" />
<param id="addListener" />
<param id="draggable" />
<div class="content">
  <p>This is your private place. <%= f.submit "Make public",
                                :confirm => "You sure? This is irreversible operation.",
                                :title => "Make #{@place.name} public" %> </p>


  <%= render 'fields', :f => f %>
 </div>
  <div class="actions clear">
    <%= f.submit "Save" %>
  </div>
<% end %>

