<%= form_for(@place) do |f| %>

  <div class="small" id="map"></div>
  <!-- Map params -->
<param id="longitude" value="<%= @point.x %>"/>
<param id="latitude" value="<%= @point.y %>"/>
<param id="zoom" value="14" />
<param id="disableDefaultUI" />
<param id="draggable" />
<param id="addNewPlace" />

  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit "Add" %>
  </div>
<% end %>

