<%= form_for(@place) do |f| %>

  <div class="small" id="map"></div>
  <!-- Map params -->
<param id="longitude" value="<%= @point.lng %>"/>
<param id="latitude" value="<%= @point.lat %>"/>
<param id="zoom" value="14" />
<param id="draggable" />

  <div class="content">
  <%= render 'fields', :f => f %>
  </div>
  <div class="actions clear">
    <%= f.submit "Add" %>
  </div>
<% end %>

