<div class="small" id="map"></div>
<!-- Map params -->
<param id="longitude" value="<%= @place.point.lng %>"/>
<param id="latitude" value="<%= @place.point.lat %>"/>
<param id="zoom" value="14" />
<param id="listener" value="off" />

<div class="content">

  <% if (@place.user==current_user) %>
    <p>This is your private place.</p>
  <% elsif @place.user==nil  %>
    <p>This is public place.</p>
  <% else %>
    <p>This is <%= link_to "#{@place.user.first_name} #{@place.user.last_name}", @place.user %>'s place.</p>
  <% end %>

  <% if ((current_user && current_user.admin) || @place.user==current_user) %>
  <%= link_to "delete", @place,  :method => :delete,
                                :data => { :confirm => "You sure?" },
                                :title => "Delete #{@place.name}" %>
  <% end %>
  <% if @place.user==current_user %>
  <%= link_to "edit", edit_place_path(@place) %>
  <% end %>

  <% if current_user %>
    <% @selection = current_user.trips.private.order("updated_at DESC").all %>
    <% if  !@selection.empty? %>
      <%= form_for @trip_point do |f| %>
      <%= select_tag "selection", options_from_collection_for_select(@selection, "id", "name") %>
      <%= hidden_field_tag :place_id, @place.id %>
      <div class="actions">
        <%= f.submit "Save" %>
      </div>
      <% end %>
    <% end %>
  <% end %>

<p id="description"><%= @place.description %></p>
<p>Longitude <%= @place.point.lng.round(3) %> <br/>
Latitude <%= @place.point.lat.round(3) %></p>
<p>Approximate visit time <%= @place.minutes %> minutes</p>

<% if @place.user==current_user %>
<p><%= link_to "Add photo", new_place_photo_path(@place) %></p>
<% end %>

<% if @photos_list.count!=0 %>
<h3>Photos of this point</h3>
<ul class="list">
  <%= render @photos_list %>
</ul>
<%end%>



<% if @trips_list.count!=0 %>
<h3>Trips with this point</h3>
<ul class="list">
  <ul class="list">
    <%= render @trips_list%>
  </ul>
</ul>
<%end%>

</div>
<div class="clear"> </div>
